@use 'base/mixins' as m;
@use 'base/variables' as v;

.destacada{
  margin-top: 5rem;
  background-image: linear-gradient(to bottom, transparent 0%, transparent 50%, v.$primario 50%, v.$primario 100%), url(../img/destacada.jpg);
  background-size: 100%, cover;
  background-position: center, -50rem -30rem;
  background-repeat: no-repeat;

  @include m.tablet {
    background-image: linear-gradient(to right, transparent 0%, transparent 50%, v.$primario 50%, v.$primario 100%), url(../img/destacada.jpg);
  }

  &__grid{
    display: grid;
    grid-template-rows: repeat(2, 1fr);

    @include m.tablet {
      grid-template-rows: unset;
      @include m.grid(2, 2rem);
    }
  }

  &__contenido{
    padding: 3rem;
    grid-row: 2 / 3;

    @include m.tablet {
      grid-row: unset;
      grid-column: 2 / 3;
      padding: 10rem 5rem;
    }
  }

  &__heading{
    text-transform: uppercase;
    color: v.$blanco;
  }

  &__texto{
    color: v.$blanco;
    font-size: 1.8rem;
  }

  &__precio{
    color: v.$blanco;
    font-size: 2.4rem;
    font-weight: bold;
  }

  &__enlace{
    @include m.boton(v.$blanco, v.$primario);
    display: block;
  }
}