@use 'base/mixins' as m;
@use 'base/variables' as v;

.footer{
  background-color: v.$primario;
  padding-top: 5rem;
  margin-top: 5rem;

  &__grid{
    @include m.tablet {
      @include m.grid(3, 2rem);
    }
  }

  &__heading{
    color: v.$blanco;
    text-transform: uppercase;
    font-size: 2rem;
  }

  &__texto{
    color: v.$blanco;
  }

  &__navegacion{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__link{
    color: v.$blanco;
    font-size: 1.8rem;
  }

  &__copyright{
    margin: 0;
    background-color: darken(v.$primario, 10%);
    text-align: center;
    padding: 1rem;
    color: v.$blanco;
  }
}

